<div class="container">
  <h4>フォロワー</h4>
  <div class="row justify-content-center">
    <% if @users.exists? %>
      <%= render "follow_list", users: @users %>
      <h5>フォローされているユーザーはいません。</h5>
    <% end %>
  </div>
</div>
