<div class="container">
  <h4>フォロー中</h4>
  <div class="row justify-content-center">
    <% if @users.exists? %>
      <%= render "follow_list",users: @users %>
    <% else %><br>
      <p>フォロー中のユーザーはいません。</p>
    <% end %>
  </div>
</div
  