<div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h5 class=" text-center py-1" style="opacity: 0.8;">
          本サイトは、  旅のスケジュールの詳細を投稿し共有するために運用をスタートしました。<br>
          最近ではコロナが明け旅行する方も増えてきている中、<br>
          旅行のスケジュール管理が苦手な方やどう行動すればスムーズに行動<br>
          できるかなどを参考にしたい方などが見れるサイトを制作しようと考えました。<br>
          <br>
          これから旅行をしたいと思っている人や、旅行をした後にスケジュールを共有した人と繋がり、<br>
          有益な情報が得られると幸いです。<br>
          <br>
        </h5>
      </div>
    </div>
  </div>
</div>