<% if user.errors.any? %>
  <ul class="alert alert-danger" role="alert">
    <h6 class-"aleart-heading">
      <%= user.errors.count %>件のエラーが発生しました
    </h6>
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>