<footer class="container-fluid bg-dark">
  <h6 class="text-center py-2 mb-0">Copyright © tabinojikan 
    <%= link_to new_admin_session_path, class: 'nav-link text-dark' do %>
    <%= image_tag '851.png', size: '45x45' %>管理者
    <% end %>
  </h6>
</foote